Package: com.pookjw.metalhudloader
Name: MetalHudLoader
Version: 1.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000)
